
body{
    padding: 0;
    margin: 0;
    background: #780206;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container{
    background-color: #a9a9cd;
}


div#conin {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
ul { list-style: none ; 
    
}

.ingles{
    margin-left: 2rem ;
}
.contacto{
   margin-left: 2rem;
}