.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }
/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  #menu-hamburguesa {
    display: none;
    background-color: #333;
    width: 100%;
    text-align: center;
  }
  #menu-hamburguesa ul li {
    padding: 15px 0;
  }
  #menu-hamburguesa ul li a {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
  }
  #boton-hamburguesa {
    background-color: #333;
    color: #fff;
    font-size: 24px;
    font-family: sans-serif;
    padding: 10px;
    border: none;
    cursor: pointer;
  }*/

  